@import url('https://fonts.cdnfonts.com/css/instagram-sans-2');

* {
    margin: 0;
    padding: 0;
    font-family: 'Instagram Sans', sans-serif;
    font-weight: 400;
}

body {
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 244px;
    border-right: 1px solid #262626;
}

.navbar-logo {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 4px;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 13px 10px;
    border-radius: 8px;
    transition: background-color 0.4s;
}

.navbar-item:hover {
    background-color: #1a1a1a;
}

.navbar-items-a {
    display: flex;
    align-items: center;
}

.navbar-item-icon {
    margin-right: 15px;
}